<component name="ArtifactManager">
  <artifact type="war" name="springRedis:war">
    <output-path>$PROJECT_DIR$/springRedis/target</output-path>
    <root id="archive" name="springRedis.war">
      <element id="artifact" artifact-name="springRedis:war exploded" />
    </root>
  </artifact>
</component>